<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>RNICU Webapp</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style_handheld.css" media="handheld" />
	</head>
	<body>
		<a href="{{ logoutURL }}" style="float: right; margin: 10px;">Logout</a>
		<a href="/" style="float: right; margin: 10px;">Home</a>
		
		
		<h1>List of Sensors for this patient</h1>
		
		{% for sensor in sensorlist: %}
			<p>{{ sensor.capitalize() }} Sensor: <a href="/patient/{{ patientId }}/{{ sensor }}">Raw Data</a> <a href="/patient/{{ patientId }}/{{ sensor }}/graph">Graph</a></p>
		{% endfor %}
		
		
		{% if err: %}
			<p style="color: red;">Error Message: {{ err }}</p>
		{% endif %}
		<p></p>
	</body>
</html>
{% endautoescape %}
