<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>RNICU Webapp</title>
	</head>
	<body>
		<a href="{{ logoutURL }}" style="float: right; margin: 10px;">Logout</a>
		<a href="/" style="float: right; margin: 10px;">Home</a>
		
		<h1>Assign Tag to Patient</h1>
		
		<form name="input" action="/patient/create" method="post">
			Patient's Name: <input type="text" name="patientName"><br />
			Patient's Father's Name: <input type="text" name="patientFatherName"><br />
			Location: <input type="text" name="location"><br />
			Doctor's Google ID: <input type="text" name="doctorID"> Example: If xyz@gmail.com is the doctor's gmail ID, then xyz is the google id<br />
			Sensor ID: <input type="text" name="sensorID" value="{{ sensorid }}"> Comma separate multiple sensor IDs. For example: If you are attaching sensors with ids 123,456 and 789 to the patient, enter 123,456,789<br />
			Notes: <input type="text" name="notes"><br />
			
			<input type="submit" value="Submit"><br />
		</form> 
		{% if err: %}
			<p style="color: red;">Error Message: {{ err }}</p>
		{% endif %}
		{% if note: %}
			<p style="color: blue;">Note: {{ note }}</p>
		{% endif %}
	</body>
</html>
{% endautoescape %}